body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

:root {
  //--font-family: "Rubik", sans-serif;
  --font-family: 'Iosevka Nerd Font', 'Hack', 'FiraCode', 'Meslo', 'Noto', 'JetBrains Mono', 'Source Code Pro', 'Liberation Mono', 'Terminus', 'Victor Mono', 'Monoid', serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 16px;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
}

.toc {
    padding-right: 5px;
    background-color: var(--background-primary);
    padding: 10px;
    border-radius: 10px;

    ol {
        list-style: none;
        padding-left: 10px;
        border-left: 2px solid var(--background-secondary);
    }

    & > ol {
        padding-left: 0;
        border-left: none;
    }
}

.toc-container {
    font-size: 1rem;
    max-height: 2200px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-left: 1px solid var(--text-accent);
    ul {
        list-style-type: none;
        padding-inline-start: 15px !important;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul:not(:first-child) {
        margin-bottom: 3px;
    }

    li {
        padding-top: 4px;
        &::before {
            content: "# " !important;
            color: var(--text-accent);
            font-size: 0.8rem;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}



.filetree-sidebar {
    width: 350px;
    @media (max-width: 1400px) {
        h1 {
            display: none;
        }
        .search-button {
            display: none;
        }
    }
}

@media (max-width: 1400px) {
    #link-graph {
        border-radius: 0 10px 10px 10px;
    }
    .sidebar {
        position: relative;
        transform: none;
        border-radius: 4px;
        margin-top: 50px;
        max-width: 700px;
        margin: auto;
        border-radius: 0;
        border-top: 2px solid var(--background-secondary);
        justify-content: space-between;
    }

    .sidebar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .graph {
        flex: 1;
        .graph-title-container {
            justify-content: flex-start;
        }
    }

    .toc {
        display: block;
    }
}

